<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    {% if name %}
        <h1>Bem vindo, {{ name }}!</h1>
    {% endif %}

    <nav>
        <ul>
            <li>
                <a href="/points">Cadastrar pontos</a>
            </li>
        </ul>
    </nav>

    <a href="/logout">Logout</a>
    <script src="/static/bundle.js"></script>
</body>
</html>
